@charset "UTF-8";

@import url('fonts.css');
@import url('icons.css');

html {
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Souvenir", "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input[type="submit"],
button {
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    resize: vertical;
    overflow: auto;
}

[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

[hidden] {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.card-active {
    border: 5px solid #2783FE;
}

.promocode-alert,
.promocode-success{
    display: none;
}

.promocode__icon {
    font-size: 24px;
    position: absolute;
    right: 117px;
}

form {
    position: relative;
    z-index: 2;
}

.payment-labels {
  font-size: 12px;
  color: #FF0000;
  margin-top: 20px;
  text-align: center;
}

.modal-agreement {
    padding: 30px 0;
    color: #030303;
}

.agreement-main {
    margin: 10px 20px;
}

.agreement-list,
.agreement-list__item {
    list-style-type: decimal;
}

.agreement-list__ul {
    padding-left: 30px;
}

.agreement-list__ul-item {
    list-style-type: circle;
}

.agreement-lists {
    margin-top: 10px;
}

.modal {
    padding-left: 15px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.preloader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1001;
}

.preloader img {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 43%;
    transform: translate(0, -50%);
}

.red {
    color: #F57373;
}

.orange {
    color: #f48534;
}

.blue {
    color: #2783FE;
}

.grey {
    color: #E6E6E6;
}

.green {
    color: #418c08;
}

.header > .container {
    width: 95%;
}

.fourth-row--additional .item-card .plus i,
.fourth-row--additional .item-card .minus i {
    position: absolute;
    font-size: 2rem;
    color: #8E94A9;
    top: .5rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.work-section {
    padding: 2.9rem 15px 2.4rem;
    background: #FFD8BB;
}

.reasons-section {
    padding: 2.4rem 0 2.7rem 0;
    background: #FFD8BB;
}


.about-section {
    position: relative;
    width: 100%;
    padding: 2.7rem 0 2.2rem 0;
    background: #FFD8BB;
}

.about-section::after {
    position: absolute;
    content: "";
    z-index: 2;
    bottom: -4.8rem;
    left: 0;
    width: 100%;
    height: 5.2rem;
    background: url(../img/icons/wave.svg) 100% 100%/cover no-repeat;
}

.about-section__title {
    margin-bottom: 6.4rem;
}

.faq-section {
    width: 100%;
    padding: 7.2rem 0 1.3rem 0;
    background: url(../img/icons/faq_balls_mobile.svg) -1rem -29%/cover no-repeat, #fff;
}

.faq-section__title {
    margin-bottom: 4.6rem;
}

.reviews-section {
    position: relative;
    width: 100%;
    padding: 1.3rem 1.2rem 16.3rem 1.2rem;
}

.reviews-section__title {
    margin-bottom: 4.6rem;
}

.footer {
    position: relative;
    width: 100%;
    padding: 2.4rem 0 3.2rem 0;
    background: #474747;
}

.footer::before {
    display: block;
    position: absolute;
    content: "";
    top: -41rem;
    right: 0;
    transform: rotate(0deg);
    width: 41rem;
    height: 41rem;
    background: url(../img/icons/creature_form.svg) 100% 100%/contain no-repeat;
}

.footer--main::before {
    display: none;
}

.nav {
    position: relative;
    display: flex;
    padding: 2.4rem;
    position: absolute;
    z-index: 9998;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 85vw;
    height: 100vh;
    transform: translateX(-110%);
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    transition: transform 0.5s ease-out;
}

.nav-list {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 4.7rem;
}

.nav-list--open {
    display: flex;
    transform: translateX(0);
}

.nav .nav__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.nav .nav__link {
    display: block;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #2783FE;
}

.nav__btn {
    padding: 1.6rem 2.8rem;
    margin-bottom: 3rem;
    order: -1;
    font-weight: normal;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #fff;
    letter-spacing: 0.015em;
}

.nav__btn:hover {
    color: #fff;
}

.nav-mobile {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 8%;
    background: #fff;
}

.langs {
    width: 11rem;
    display: flex;
    justify-content: space-between;
}

.langs .langs__link img {
    width: 3rem;
    height: 3rem;
}

.logo {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: flex;
    justify-content: flex-end;
    width: 6.8rem;
    height: 2.7rem;
    margin-bottom: 3rem;
    order: -2;
}

.cmn-toggle-switch {
    position: absolute;
    display: block;
    z-index: 9000;
    top: 1.2rem;
    right: 8%;
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 4rem;
    font-size: 0;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.cmn-toggle-switch:focus {
    outline: none;
}

.cmn-toggle-switch span {
    position: absolute;
    display: block;
    top: 2rem;
    left: .5rem;
    right: .5rem;
    width: 2rem;
    height: .2rem;
    background: #2783FE;
    border-radius: 1.2rem;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
    position: absolute;
    content: "";
    left: 0;
    display: block;
    width: 100%;
    width: 2rem;
    height: .2rem;
    background: #2783FE;
    border-radius: 1.2rem;
}

.cmn-toggle-switch span::before {
    top: .6rem;
}

.cmn-toggle-switch span::after {
    bottom: .6rem;
}

.cmn-toggle-switch__htx {
    background-color: transparent;
}

.cmn-toggle-switch__htx span {
    transition: background 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
    transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
    transition-property: bottom, transform;
}

.cmn-toggle-switch__htx.active span {
    background: none;
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
    transition-delay: 0, 0.3s;
}

.cmn-toggle-switch__htx.active span::before {
    top: 0;
    transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.langs--mobile {
    display: none;
    width: 12rem;
    margin-right: 5rem;
}

.btn {
    display: block;
    background: linear-gradient(180deg, #7BC0FF 0%, #2451F1 100%),
    linear-gradient(180deg, #FFFFFF 0%, #F7F5FF 100%);
    box-shadow: 0 0.1rem 0.2rem rgba(123, 97, 255, 0.25);
    border-radius: .7rem;
    outline: none;
    border: none;
}

.header-content {
    background: url(../img/header__img@1x.png) 50% 26rem/23.7rem 25.5rem no-repeat,
    url(../img/icons/header_bg_mobile.svg) 100% -13rem/100% 100% no-repeat, #ffd8bb;
}

.header-content .header-content__left {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
}

.header-content .content__title {
    max-width: 30rem;
    margin: 0 auto .8rem;
    padding: 0;
    font-weight: bold;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: #4A4545;
}

.header-content .content__subtitle {
    max-width: 30rem;
    margin: 0 auto 25.8rem;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #4A4545;
}

.header-content .content__btn {
    padding: 1.6rem 5.2rem;
    width: 28.8rem;
    align-self: center;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #fff;
    letter-spacing: 0.015em;
    text-align: center;
}

.work-block {
    position: relative;
    width: 100%;
    max-width: 1730px;
    margin: auto;
    padding: 3.6rem .5rem 4.7rem .5rem;
    background: #fff;
    box-shadow: 0 1.2rem 8.5rem rgba(221, 109, 28, 0.25);
    border-radius: 2rem;
}

.work-block span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #FED5B5;
    box-shadow: inset 0 0.5rem 1.2rem rgba(221, 109, 28, 0.5);
}

.work-block span:nth-child(1) {
    top: 2.8rem;
    left: 2.7rem;
}

.work-block span:nth-child(2) {
    top: 2.8rem;
    right: 2.7rem;
}

.work-block span:nth-child(3) {
    bottom: 2.8rem;
    left: 2.7rem;
}

.work-block span:nth-child(4) {
    bottom: 2.8rem;
    right: 2.7rem;
}

.work__title {
    text-align: center;
    margin: 2.4rem 0 1.4rem 0;
    font-weight: bold;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: #4A4545;
}

.work-cards {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.9rem;
}

.work-cards .item-card {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-between;
}

.work-cards .item-card:not(:last-child) {
    margin-bottom: 3.2rem;
}

.work-cards .card__img {
    margin-bottom: 3rem;
    margin-bottom: 0;
    height: 288px;
}

.work-cards .card__num {
    position: relative;
    top: -2.5rem;
    width: 6.7rem;
    height: 6.6rem;
}

.work-cards .card__num::after {
    position: absolute;
    content: "";
}

.work-cards .card__num::after {
    top: 1rem;
    left: 0;
    width: 6.7rem;
    height: 6.6rem;
    background: url(../img/icons/work_elipse.svg) 100% 100%/cover no-repeat;
}

.work-cards .card__num::before {
    position: absolute;
    top: 3.5rem;
    left: 2.7rem;
    z-index: 2;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 2.78rem;
    line-height: 3.7px;
    color: #F8F8F8;
}

.work-cards .item-card .card__num--first::before {
    content: "1";
}

.work-cards .item-card .card__num--second::before {
    content: "2";
}

.work-cards .item-card .card__num--third::before {
    content: "3";
}

.work-cards .item-card .card__num--fourth::before {
    content: "4";
}
.work-cards .card__title {
    position: relative;
    text-align: center;
    margin: 6rem 0 1.5rem 0;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #434343;
}

.work-cards .card__title::before {
    position: absolute;
    content: "";
    top: -2.4rem;
    left: calc(50% - 0.5rem);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #29253C;
}

.work-cards .card__text {
    max-width: 26rem;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #434343;
    letter-spacing: -0.720423px;
}

.section__title {
    text-align: center;
    text-align: center;
    margin-bottom: 4.2rem;
    font-weight: bold;
    font-style: normal;
    font-size: 3.6rem;
    line-height: 4.7rem;
    color: #4A4545;
}

.reasons-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.reasons-row:not(:last-child) {
    margin-bottom: 2.4rem;
}

.reasons .reasons__card {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    max-width: 26.1rem;
}

.reasons .reasons__card:not(:last-child) {
    margin-bottom: 4rem;
}

.reasons .card__title {
    position: relative;
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    line-height: 2.6rem;
    color: #000;
}

.reasons .card__title::after {
    position: absolute;
    content: "";
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.4rem;
    height: .8rem;
    background: #2783FE;
    border-radius: .7rem;
}


.reasons .card__text {
    text-align: center;
    max-width: 23.5rem;
    margin: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #000;
}

.about-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.about-row:not(:last-child) {
    margin-bottom: 1.6rem;
}


.about .about__card {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    max-width: 36rem;
    min-height: 32.4rem;
    padding: 2.8rem 1.7rem 3.6rem 1.7rem;
    box-shadow: 0 0.4rem 1.2rem rgba(221, 109, 28, 0.31);
    border-radius: 2rem;
}

.about .about__card:not(:last-child) {
    margin-bottom: 1.6rem;
}

.about .about__card--first {
    background: url(../img/icons/about_icon_1.svg) 50% 10%/17.8rem 14.5rem no-repeat, #fffdfb;
}

.about .about__card--second {
    background: url(../img/icons/about_icon_2.svg) 50% 10%/17.8rem 14.5rem no-repeat, #fffdfb;
}

.about .about__card--third {
    background: url(../img/icons/about_icon_3.svg) 50% 10%/17.8rem 14.5rem no-repeat, #fffdfb;
}

.about .about__card--fourth {
    background: url(../img/icons/about_icon_4.svg) 50% 10%/17.8rem 14.5rem no-repeat, #fffdfb;
}

.about .about__card--fifth {
    background: url(../img/icons/about_icon_5.svg) 50% 10%/17.8rem 14.5rem no-repeat, #fffdfb;
}

.about .about__card--sixth {
    background: url(../img/icons/about_icon_6.svg) 50% 10%/17.8rem 14.5rem no-repeat, #fffdfb;
}

.about .about__card--seventh {
    background: url(../img/icons/about_icon_7.svg) 50% 10%/17.8rem 14.5rem no-repeat, #fffdfb;
}

.about .about__card--eights {
    background: url(../img/icons/about_icon_8.svg) 50% 10%/17.8rem 14.5rem no-repeat, #fffdfb;
}

.about .about__title {
    position: relative;
    margin: 17rem 0 1.6rem 0;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #000;
}

.about .about__title::after {
    position: absolute;
    content: "";
    top: -2.4rem;
    left: calc(50% - 2rem);
    width: 4rem;
    height: .4rem;
    background: #F99853;
    border-radius: .7rem;
}

.about .about__text {
    width: 22.5rem;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #000;
}

.accordion {
    max-width: 118.2rem;
    margin: auto;
}

.accordion .accordion__item {
    width: 100%;
    padding: 1rem 2rem;
    background: #FFFFFF;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.25);
    border-radius: .8rem;
    cursor: pointer;
}

.accordion .accordion__item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.accordion .accordion__item-title {
    position: relative;
    padding-right: 4rem;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #000;
}


.accordion .accordion__item-title::after, .accordion .accordion__item-title::before {
    position: absolute;
    content: "";
    transform: translate(-50%, -50%);
    height: .3rem;
    width: 2.4rem;
    background: #000;
}

.accordion .accordion__item-title::after {
    top: 50%;
    right: -1.4rem;
}


.accordion .accordion__item-title::before {
    top: 48%;
    right: -0.2rem;
    transform: rotate(90deg);
}


.accordion .accordion__item-title--active::before {
    transform: rotate(0);
}

.accordion .accordion__item-text {
    overflow: hidden;
    height: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #000;
}

.accordion .accordion__item-title.accordion__item-title--active ~ .accordion__item-text {
    height: auto;
    padding: 0 2rem 2rem;
    margin-top: 1.5rem;
}

.reviews-slider {
    margin-bottom: 5.6rem;
}

.reviews-slider .swiper-pagination {
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.reviews-slider .swiper-pagination-bullet {
    background: #FFD8BB;
}

.reviews-slider .swiper-pagination-bullet:not(:last-child) {
    margin-right: .8rem;
}

.reviews-slider .swiper-pagination-bullet-active {
    background: #F99853;
}

.review {
    min-height: 40.4rem;
}

.review .slider__img {
    margin-bottom: 2.4rem;
}

.review .slider__img img {
    width: 100%;
}

.review .slider__title {
    text-align: center;
    margin-bottom: 2.4rem;
    padding: 0 1rem;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #000;
}

.review .slider__text {
    text-align: center;
    padding: 0 1rem 1rem 1rem;
    font-weight: 400;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #000;
}

.btn-row {
    display: flex;
    justify-content: center;
}

.reviews__btn {
    padding: 1.6rem 5.2rem;
    width: 28.8rem;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #fff;
    letter-spacing: 0.015em;
    text-align: center;
}

.reviews__btn:hover {
    color: #fff;
}


.footer-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-cols .col__left {
    position: relative;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: flex;
    flex-direction: column;
}


.footer-cols .col__left::before {
    position: absolute;
    content: "";
    background: url(../img/icons/creature.svg) 100% 100%/contain no-repeat;
    top: -13.5rem;
    right: 0.7rem;
    width: 28.3rem;
    height: 24rem;
    transform: rotate(4deg);
}

.footer-cols .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.4rem;
}


.footer-cols .contacts__item {
    position: relative;
    text-align: center;
    padding: 3rem 2rem 1rem 2rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: .3rem;
    width: 28.1rem;
}

.footer-cols .contacts__item:not(:last-child) {
    margin-bottom: 0.6rem;
}


.footer-cols .contacts__item::after, .footer-cols .contacts__item::before {
    position: absolute;
    content: "";
    top: 50%;
}

.footer-cols .contacts__item::after {
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    background: #353535;
    border-radius: 1.5rem;
}


.footer-cols .contacts__item--first::before,
.footer-cols .contacts__item--second::before,
.footer-cols .contacts__item--third::before {
    z-index: 2;
    transform: translateY(-50%);
}

.footer-cols .contacts__item--first::after,
.footer-cols .contacts__item--second::after,
.footer-cols .contacts__item--third::after {
    top: 3.4rem;
    left: calc(50% - 1rem);
    transform: translateY(calc(-50% - 1.5rem));
}

.footer-cols .contacts__item--first::before {
    top: 1.8rem;
    left: 50%;
    width: 1rem;
    height: 1.5rem;
    background: url(../img/icons/contacts_icon_1.svg) 100% 100%/contain no-repeat;
}

.footer-cols .contacts__item--second::before {
    top: 1.8rem;
    left: calc(50% - .3rem);
    width: 1.7rem;
    height: 1rem;
    background: url(../img/icons/contacts_icon_2.svg) 100% 100%/contain no-repeat;
}

.footer-cols .contacts__item--third::before {
    top: 1.8rem;
    left: calc(50% - .4rem);
    width: 1.6rem;
    height: 1.3rem;
    background: url(../img/icons/contacts_icon_3.svg) 100% 100%/contain no-repeat;
}

.footer-cols .contacts__link {
    display: block;
    margin-top: 0.6rem;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #fff;
}


.footer-cols .socials-list {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 19rem;
    margin-bottom: 3.5rem;
}



.footer-cols .socials__item:not(:last-child) {
    margin-right: 1.6rem;
}

.footer-cols .socials__link {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
}

.footer-cols .col__right, .col__center {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col__center {
    margin-top: 10px;
}

.footer-cols .col__right .logo--footer {
    position: relative;
    width: 16.5rem;
    height: 6.5rem;
    margin: 0 0 1.6rem 0;
}

.col__right-slogan {
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
    line-height: 2.1rem;
    color: #fff;
}

.header--form .nav {
    margin-bottom: 4.2rem;
}

.header--form .col__left--dn::before {
    display: none;
}

.header--form .logo--form {
    display: block;
    width: 12.2rem;
    height: 4.8rem;
    margin-left: 1.8rem;
}
.footer .logo--form {
    margin-left: 0;
}


.header--form__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0 10rem 0;
}

.header--form .content-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--form .content-row:not(:last-child) {
    margin-bottom: 2.4rem;
}

.header--form-content {
    margin-bottom: 6.4rem;
}

.header--form-content input,
.header--form-content select,
.header--form-content option,
.header--form-content textarea {
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #4A4545;
    outline: none;
    border: .1rem solid #E6E6E6;
    border-radius: .2rem;
    padding: 5px;
}

.header--form-content textarea::placeholder {
    color: #ccc;
    font-style: italic;
}

.header--form__title {
    font-weight: bold;
    font-style: normal;
    font-size: 1.7rem;
    line-height: 2.3rem;
    color: #4A4545;
}

.header--form-content .row__title {
    position: relative;
    margin-bottom: 1.6rem;
    font-weight: bold;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: #4A4545;
}

.header--form-content .row__title::before {
    position: absolute;
    content: "";
    top: -1.5rem;
    width: 4.5rem;
    height: 4.4rem;
    background: url(../img/icons/work_elipse_brown.svg) 100% 100%/cover no-repeat;
}

.header--form-content .row__title::after {
    position: absolute;
    z-index: 2;
    z-index: 2;
    font-weight: bold;
    font-style: normal;
    font-size: 2.7rem;
    line-height: 3.7rem;
    color: #f8f8f8;
}
.header--form-content .row__title--first::after {
    content: "1";
    left: 9.5rem;
    top: -4.7rem;
}

.header--form-content .row__title--first::before {
    left: 8rem;
    top: -5rem;
}

.header--form-content .row__title--second::after {
    content: "2";
    left: 10.5rem;
    top: -4.7rem;
}

.header--form-content .row__title--second::before {
    left: 9rem;
    top: -5rem;
}

.header--form-content .row__title--third::after {
    content: "3";
    left: 10.5rem;
    top: -4.7rem;
}

.header--form-content .row__title--third::before {
    left: 9rem;
    top: -5rem;
}

.header--form-content .row__title--fourth::after {
    content: "4";
    left: 14.5rem;
    top: -4.7rem;
}

.header--form-content .row__title--fourth::before {
    left: 13rem;
    top: -5rem;
}

.header--form-content .row__title--fifth::after {
    content: "5";
    left: 8.5rem;
    top: -4.7rem;
}

.header--form-content .row__title--fifth::before {
    left: 7rem;
    top: -5rem;
}

.header--form-content .row__title__subtitle {
    margin: 1rem;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #828282;
}

.header--form-content .item-card img {
    border-radius: .4rem;
    margin-bottom: 1rem;
    height: 95%;
    width: 95%;
    padding: .5rem;
}

.first-row__select {
    width: 100%;
    margin: 0 auto 8rem auto;
    display: flex;
    justify-content: center;
}

.first-row__select .item-card {
    min-height: 14.8rem;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
}

.first-row__select .item-card:not(:last-child) {
    margin-right: 1rem;
}

.first-row__select .item-card .img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 14.8rem;
    border-radius: .5rem;
    border: 4px solid rgba(39, 131, 254, 0);
    padding: 0;
    background: #fff;
}

.first-row__select .item-card .img-wrap .card-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.first-row__select .item-card .img-wrap .name {
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #4A4545;
}

.first-row__select .item-card .img-wrap .price {
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #DD6D1C;
}

.first-row__select .card--active {
    border: .5rem solid #2783FE;
    box-shadow: 0 1.2rem 8.5rem rgba(221, 109, 28, 0.25);
    border-radius: .9rem;
}

.second-row-message {
    position: relative;
    margin-bottom: 8rem;
}

.second-row-message textarea {
    width: 28.8rem;
    min-height: 15.3rem;
}


.third-row-upload {
    position: relative;
    width: 16.8rem;
    height: 16.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 8rem;
    filter: drop-shadow(0px 12px 85px rgba(221, 109, 28, 0.25));
    border-radius: .4rem;
    background: #fff;
    cursor: pointer;
}

.third-row-upload .upload__button {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 9999;
}

.third-row-upload .upload__text {
    width: 10rem;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #DD6D1C;
    opacity: .5;
}

.fourth-row--additional {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0 1rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 6rem;
}

.fourth-row--additional .item-card {
    width: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-row--additional .item-card:not(:last-child) {
    margin-right: 1.6rem;
}

.fourth-row--additional .item-card img {
    margin-bottom: 0;
}

.fourth-row--additional .card-info {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

.fourth-row--additional .item-card .name {
    font-weight: bold;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #4A4545;
}

.fourth-row--additional .item-card .price {
    font-weight: bold;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #DD6D1C;
}

.fourth-row--additional .item-card .total-price {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #DD6D1C;
}

.fourth-row--additional .item-card .total-num {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 8.8rem;
    padding: .5rem 1rem .5rem 1rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #333333;
    border: .2rem solid #C9CEDD;
    border-radius: .4rem;
}

.fourth-row--additional .item-card .plus i {
    right: 8%;
    cursor: pointer;
}

.fourth-row--additional .item-card .minus i {
    left: 8%;
    cursor: pointer;
}

.fourth-row--additional .item-card .img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 18rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 25px rgba(221, 109, 28, 0.4);
    background: #fff;
}

.fourth-row--additional .swiper-pagination {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.fourth-row--additional .swiper-pagination-bullet {
    background: #FFD8BB;
    opacity: 1;
}

.fourth-row--additional .swiper-pagination-bullet:not(:last-child) {
    margin-right: .8rem;
}

.fourth-row--additional .swiper-pagination-bullet-active {
    background: #F99853;
}

.row__title--fourth {
    text-align: center;
    width: 30rem;
}

.slider-wrap {
    width: 90%;
    overflow: hidden;
    margin: auto;
}

.total-slider {
    margin-bottom: 8rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #828282;
}


.total__sum-slider {
    font-weight: bold;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: #656262;
}

.fifth-row-cols {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fifth-row-cols .col {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 3.2rem;
}

.fifth-row-cols .col--first {
    order: 1;
}

.fifth-row-cols .col--second {
    order: 2;
}

.fifth-row-cols .col--third {
    order: 3;
}

.fifth-row-cols .select-city {
    width: 27rem;
    padding: .8rem 3.4rem .8rem 1.2rem;
}

.fifth-row-cols .input-wrap {
    display: flex;
    flex-direction: column;
    width: 27rem;
}

.fifth-row-cols .input-wrap:not(:last-child) {
    margin-bottom: 3.2rem;
}

.fifth-row-cols .input-wrap .wrap {
    position: relative;
    display: flex;
}

.fifth-row-cols .select-title {
    margin-bottom: 0.6rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #828282;
}

.fifth-row-cols label {
    margin-bottom: 0.6rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #828282;
}

.fifth-row-cols input[name="promocode-phone"] {
    width: 15.3rem;
}

.fifth-row-cols input {
    padding: .7rem;
}

.fifth-row-cols .btn__promo {
    width: 10.7rem;
    height: 3.5rem;
    text-align: center;
    padding-top: 0.8rem;
    margin-left: 0.8rem;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #DD6D1C !important;
    background: #FFD8BB;
    border-radius: .2rem;
}

.fifth-row-cols .btn__disabled {
    color: #BDBDBD !important;
    background: #E6E6E6;
}

.fifth-row-cols .btn__promo:hover {
    cursor: pointer;
}

.fifth-row-cols .warning {
    position: absolute;
    bottom: -1.5rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #F57373;
}
.fifth-row-cols .success {
    position: absolute;
    bottom: -1.5rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #418c08;
}

.sixth-row {
    margin-bottom: 29rem;
}

.sixth-row .total {
    margin-bottom: .9rem;
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #828282;
}

.sixth-row .total__sum {
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #4a4545;
}

.sixth-row .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixth-row .wrap .inner-wrap {
    display: flex;
}

.sixth-row .btn__pay {
    width: 100%;
    height: 4.4rem;
    text-align: center;
    margin-bottom: 1.6rem;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #FFFFFF;
    background: #F99853;
    border-radius: .2rem;
}

.sixth-row input[type="checkbox"] {
    margin-top: .3rem;
    background: #F99853;
}

.sixth-row .policy-agreement {
    width: 22rem;
    margin-right: 2.1rem;
    margin-left: 0.6rem;
    margin-bottom: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #828282;
    cursor: pointer;
}

.sixth-row .policy-agreement:hover {
    text-decoration: underline;
}

.btn-fix {
    position: fixed;
    top: 20px;
    z-index: 10;
}

.countries select {
    color: #2783FE;;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #2783FE;;
}

.nav .countries {
    margin-bottom: 20px;
}

.agreement-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

/*============ MEDIA QUERIES ==============*/

@media screen and (min-width: 320px) {
    .container-fluid {
        padding-left: 6px;
        padding-right: 6px;
    }

    .container {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    .nav-list {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .logo {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .header-content .header-content__left {
        margin-left: auto;
        margin-right: auto;
    }

    .work-cards .item-card {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .work-cards .item-card {
        width: calc(100% - 3px);
    }

    .reasons .reasons__card {
        margin-left: 1.5px;
        margin-right: 1.5px;
        width: calc(100% - 3px);
    }

    .about .about__card {
        margin-left: 1.5px;
        margin-right: 1.5px;
        width: calc(100% - 3px);
    }

    .footer-cols .col__left {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .footer-cols .socials-list {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .footer-cols .col__right {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .fifth-row-cols .col {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 375px) {
    .header--form-content .row__title__subtitle {
        text-align: center;
        margin-right: 21rem;
    }
}

@media screen and (min-width: 480px) {
    .container-fluid {
        padding-left: 6px;
        padding-right: 6px;
    }

    .nav-list {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .logo {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .work-cards .item-card {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .reasons .reasons__card {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .about .about__card {
        margin-left: 1.5px;
        margin-right: 1.5px;
        min-height: 35rem;
    }

    .footer-cols .col__left {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .footer-cols .socials-list {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

    .footer-cols .col__right {
        margin-left: 1.5px;
        margin-right: 1.5px;
    }

}

@media screen and (min-width: 560px) {
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .fifth-row-cols .input-wrap {
        margin-right: auto;
        margin-left: auto;
    }

    .work-section {
        padding: 5.9rem 5.8rem 2.4rem;
    }

    .nav {
        width: 50vw;
    }

    .nav-list {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .logo {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .header-content {
        background: url(../img/header__img@1x.png) 50% 23rem/31rem 32rem no-repeat,
            url(../img/icons/header_bg_mobile.svg) 100% -4rem/100% 100% no-repeat, #ffd8bb;
    }

    .header-content .content__subtitle {
        margin-bottom: 29rem;
    }

    .work-cards .item-card {
        margin-left: 2.5px;
        margin-right: 2.5px;
        width: calc(50% - 5px);
    }

    .reasons-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    .reasons .reasons__card {
        margin-left: 2.5px;
        margin-right: 2.5px;
        width: calc(50% - 5px);
    }

    .reasons .card__title {
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    .about-row {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }

    .about .about__card {
        min-height: 35rem;
    }

    .accordion .accordion__item-title {
        line-height: 2.9rem;
    }

    .footer-cols .col__left {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .footer-cols .socials-list {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .footer-cols .col__right {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .header--form-content .item-card img {
        padding: 1rem;
    }

    .first-row__select .item-card .img-wrap {
        padding: 1rem;
    }

    .fourth-row--additional .item-card {
        width: auto !important;
    }

    .fifth-row-cols .col--first {
        order: 1;
    }
    .fifth-row-cols .col--second {
        order: 2;
    }
    .fifth-row-cols .col--third {
        order: 3;
    }
}

@media screen and (min-width: 768px) {
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .preloader img {
        width: 150px;
        left: 45%;
    }

    .nav-list {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .logo {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .header-content {
        background: url(../img/header__img@1x.png) 50% 20rem/36rem 38rem no-repeat,
            url(../img/icons/header_bg_mobile.svg) 100% -4rem/100% 100% no-repeat, #ffd8bb;
    }

    .header-content .header-content__left {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .header-content .content__title {
        max-width: 42rem;
    }

    .header-content .content__subtitle {
        margin-bottom: 36rem;
        width: 42rem;
        max-width: 42rem;
    }

    .work-cards .item-card {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .reasons-row {
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .reasons .reasons__card {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .reasons .reasons__card {
        max-width: 27rem;
    }

    .about .about__card {
        width: calc(50% - 5px);
    }

    .accordion .accordion__item-title {
        line-height: 5.4rem;
    }

    .footer-cols {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-cols .col__left {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .footer-cols .socials-list {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .footer-cols .col__right {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .fifth-row-cols {
        display: flex;
        justify-content: center;
    }

    .fifth-row-cols .col {
        margin-left: 20px;
        margin-right: 0;
    }

    .btn-fix {
        position: relative;
    }
}

@media screen and (min-width: 1024px) {
    .nav .countries {
        margin-bottom: 0;
    }

    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container {
        width: 95%;
    }

    .nav {
        padding: 3.3rem 0 1.6rem 0;
        justify-content: space-between;
        flex-direction: row;
        position: static;
        padding: 2.4rem 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateX(0);
        width: initial;
        height: initial;
        align-items: center;
    }

    .nav-list {
        margin-left: 2.5px;
        margin-right: 2.5px;
        width: calc(50% - 5px);
        position: static;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        height: auto;
        transform: translateX(0);
        padding-top: 0;
        margin-bottom: 0;
        background-color: transparent;
    }

    .nav .nav__item:not(:last-child) {
        margin: 0 1.5rem 0 0;
    }

    .nav .nav__link {
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #2783FE;
    }

    .nav__btn {
        font-weight: normal;
        font-style: normal;
        font-size: 1.6rem;
        color: #fff;
        order: 0;
        margin-bottom: 0;
        padding: 1rem 1.2rem;
    }

    .nav-mobile {
        display: none;
    }

    .langs {
        width: 11rem;
    }

    .logo {
        margin-left: 2.5px;
        margin-right: 2.5px;
        order: 0;
        margin-bottom: 0;
    }

    .cmn-toggle-switch {
        display: none;
    }

    .header-content {
        min-height: 75vh;
        background: url(../img/header__img@1x.png) 87% 1rem/52rem 55rem no-repeat,
            url(../img/icons/header_bg.svg) 64% 0rem/cover no-repeat;
    }

    .header-content .header-content__left {
        margin-left: 5%;
        margin-right: 5%;
    }

    .header-content .header-content__left {
        width: calc(50% - 5px);
    }

    .header-content .content__title {
        max-width: 49.7rem;
        margin: 0 0 2rem;
        font-weight: bold;
        font-style: normal;
        font-size: 4rem;
        line-height: 4rem;
        color: #4A4545;
    }

    .header-content .content__subtitle {
        margin: 0 0 6rem;
        max-width: 36rem;
    }

    .header-content .content__btn {
        align-self: flex-start;
    }

    .work-cards {
        flex-wrap: nowrap;
    }

    .work-cards .item-card {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .work-cards .item-card {
        width: calc(50% - 5px);
    }

    .reasons .reasons__card {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .reasons .reasons__card {
        width: calc(50% - 5px);
    }

    .about-row {
        justify-content: center;
    }

    .about .about__card {
        margin-left: 7.5px;
        margin-right: 7.5px;
    }

    .review:nth-child(2n) {
        margin-top: 6rem;
    }

    .footer-cols .col__left {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .footer-cols .contacts__link {
        margin-top: 0.6rem;
    }

    .footer-cols .socials-list {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .footer-cols .col__right {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .header--form .nav-list--form,
    .header--form .nav__btn {
        display: none;
    }

    .fourth-row--additional .swiper-pagination {
        display: none;
    }

    .slider-wrap {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .about .about__card {
        width: calc(24% - 5px);
    }
}

@media screen and (min-width: 1366px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 95%;
    }

    .header > .container {
        width: 80%;
    }

    .footer::before {
        position: absolute;
        content: "";
        top: -41rem;
        transform: rotate(0deg);
        width: 41rem;
        height: 41rem;
    }

    .nav .nav__item:not(:last-child) {
        margin: 0 2.5rem 0 0;
    }

    .nav .nav__link {
        font-size: 1.6rem;
    }

    .header-content {
        min-height: 100vh;
        background: url(../img/header__img@1x.png) 82% 1rem/65rem 70rem no-repeat,
        url(../img/icons/header_bg.svg) 64% 100%/cover no-repeat;
    }

    .header-content .content__title {
        max-width: 58rem;
        font-weight: bold;
        font-style: normal;
        font-size: 4.5rem;
        line-height: 5.2rem;
        color: #4A4545;
    }

    .about-row {
        flex-direction: row;
        justify-content: space-around;
    }

    .about .about__card {
        width: calc(24% - 5px);
    }

    .reviews-slider .swiper-pagination {
        display: none;
    }

    .footer-cols .col__left::before {
        display: none;
    }

    .footer-cols .contacts-list {
        flex-direction: row;
    }

    .footer-cols .contacts__item:not(:last-child) {
        margin-bottom: 0;
    }

    .footer-cols .contacts__item {
        width: 33rem;
        margin-right: 1rem;
    }

    .footer-cols .socials-list {
        align-self: flex-start;
    }

    .footer-cols .col__right .logo--footer::before {
        position: absolute;
        content: "";
        top: -19.8rem;
        right: 7.7rem;
        transform: rotate(4deg);
        width: 29.2rem;
        height: 28.7rem;
        background: url(../img/icons/creature.svg) 100% 100%/contain no-repeat;
    }

    .header--form .logo--form {
        width: 16.5rem;
        height: 6.5rem;
        margin: 0 1.8rem 0 0;
    }

    .header--form .content-row {
        align-items: flex-start;
    }

    .header--form .content-row:not(:last-child) {
        margin-bottom: 3.5rem;
    }

    .header--form-content {
        margin-left: 16.67%;
    }

    .header--form__title {
        margin-right: 1.6rem;
        font-weight: bold;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 3.1rem;
        color: #4A4545;
    }

    .header--form-content .row__title {
        margin-bottom: 4rem;
    }

    .header--form-content .row__title::before {
        width: 6.5rem;
        height: 6.4rem;
    }

    .header--form-content .row__title--first::after {
        top: -.5rem;
        left: -8.5rem;
    }

    .header--form-content .row__title--first::before {
        left: -10.7rem;
        top: -1.5rem;
    }

    .header--form-content .row__title--second::after {
        left: -8.5rem;
        top: -.5rem;
    }

    .header--form-content .row__title--second::before {
        left: -10.8rem;
        top: -1.7rem;
    }

    .header--form-content .row__title--third::after {
        left: -8.2rem;
        top: -.5rem;
    }

    .header--form-content .row__title--third::before {
        left: -10.7rem;
        top: -1.5rem;
    }

    .header--form-content .row__title--fourth::after {
        left: -8.5rem;
        top: -.5rem;
    }

    .header--form-content .row__title--fourth::before {
        left: -10.7rem;
        top: -1.5rem;
    }

    .header--form-content .row__title--fifth::after {
        left: -8.4rem;
        top: -.5rem;
    }

    .header--form-content .row__title--fifth::before {
        left: -10.7rem;
        top: -1.5rem;
    }

    .header--form-content .row__title__subtitle {
        margin: 0 20.9rem 0 0;
    }

    .first-row__select {
        justify-content: flex-start;
    }

    .first-row__select .item-card .img-wrap {
        width: 29rem;
    }

    .first-row__select .item-card .img-wrap .name {
        font-weight: bold;
        font-style: normal;
        font-size: 1.8rem;
        line-height: 2.3rem;
        color: #4A4545;
    }

    .first-row__select .item-card .img-wrap .price {
        font-weight: bold;
        font-style: normal;
        font-size: 1.8rem;
        line-height: 2.3rem;
        color: #DD6D1C;
    }

    .first-row__select .item-card:not(:last-child) {
        margin-right: 4rem;
    }

    .second-row-message {
        margin-bottom: 0;
    }

    .second-row-message::before {
        position: absolute;
        content: "";
        z-index: -1;
        left: -13.7rem;
        width: 6.5rem;
        top: -53rem;
        height: 168rem;
        background: url(../img/icons/dots.svg) 100% 100%/contain no-repeat;
    }

    .second-row-message textarea {
        width: 61.2rem;
    }

    .third-row-upload {
        margin-bottom: 0;
    }

    .fourth-row--additional {
        margin: 0 0 3rem 0;
        padding-top: 2rem;
    }

    .fourth-row--additional .item-card .name {
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 2.3rem;
        color: #4A4545;
    }

    .fourth-row--additional .item-card .price {
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 2.3rem;
        color: #DD6D1C;
    }

    .row__title--fourth {
        width: auto;
    }

    .slider-wrap {
        width: 100%;
    }

    .total-slider {
        display: none;
    }

    .fifth-row-cols {
        flex-wrap: nowrap;
    }

    .fifth-row-cols .col {
        margin-bottom: 0;
    }

    .fifth-row-cols .col--first {
        margin-left: 0;
        order: 1;
    }

    .fifth-row-cols .select-title {
        margin-bottom: 0;
    }

    .fifth-row-cols label {
        margin-bottom: 0;
    }

    .sixth-row {
        margin-bottom: 0;
    }

    .sixth-row .wrap {
        flex-direction: row;
    }

    .sixth-row .btn__pay {
        width: 16.8rem;
        margin-right: 2.1rem;
        margin-bottom: 0;
    }
}

@media (min-width: 1500px) {
    .header-content {
        background: url(../img/header__img@1x.png) 82% -5rem/77rem 83rem no-repeat,
            url(../img/icons/header_bg.svg) 64% 0rem/cover no-repeat;
    }
}

@media screen and (min-width: 1920px) {
    .work-section {
        padding: 7.9rem 0 14.2rem 0;
    }

    .reasons-section {
        padding: 5.6rem 0 15.4rem 0;
    }

    .about-section {
        padding: 5.5rem 0 12.1rem 0;
    }

    .about-section::after {
        bottom: -10.8rem;
        height: 15.7rem;
    }

    .faq-section {
        padding: 15.5rem 0 8.6rem 0;
        background: url(../img/icons/faq_balls_left.svg) 0% 100%/contain no-repeat,
        url(../img/icons/faq_balls_right.svg) 100% 100%/contain no-repeat, #fff;
    }

    .reviews-section {
        padding: 6.1rem 0 8.3rem 0;
    }

    .footer {
        padding: 4.4rem 0;
    }

    .nav-list {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 0 2rem !important;
    }

    .nav .nav__item:not(:last-child) {
        margin-right: 3rem;
    }

    .nav .nav__link {
        font-weight: bold;
        font-style: normal;
        font-size: 1.8rem;
        line-height: 2.3rem;
        color: #2783FE;
    }

    .nav__btn {
        padding: 1.6rem 2.8rem;
        transform: translateX(3rem);
    }

    .langs {
        width: 11rem;
    }

    .logo {
        width: calc(16.66667% - 5px);
        margin: 0 0 0 11rem;
        width: 10.2rem;
        height: 3.6rem;
    }


    .header-content .header-content__left {
        width: calc(50% - 5px);
        padding-top: 15rem;
        margin-left: 0;
        margin-right: 0;
    }

    .header-content .content__title {
        max-width: initial;
        margin: 0 0 2rem;
        padding-left: 0;
        font-weight: bold;
        font-style: normal;
        font-size: 6.4rem;
        line-height: 8.3rem;
        color: #4A4545;
    }

    .header-content .content__subtitle {
        width: 50rem;
        margin-bottom: 7.8rem;
        padding-left: 0;
        font-weight: normal;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 3.1rem;
        color: #4A4545;
    }

    .header-content .content__btn {
        width: auto;
        padding: 2.4rem 5.2rem;
        font-weight: bold;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 3.1rem;
        color: #fff;
    }

    .work-block {
        padding: 4.8rem 5.8rem 9.1rem 9.8rem;
    }

    .work-block span {
        width: 3.9rem;
        height: 3.9rem;
    }

    .work__title {
        margin: 3.9rem 0 0 0;
        font-weight: bold;
        font-style: normal;
        font-size: 4.8rem;
        line-height: 6.2rem;
        color: #4A4545;
    }

    .work-cards {
        justify-content: space-between;
        margin-bottom: 0;
    }

    .work-cards .item-card {
        width: calc(25% - 5px);
        max-width: 35rem;
        min-height: 62.4rem;
    }

    .work-cards .item-card:not(:last-child) {
        margin-bottom: 0;
    }

    .work-cards .card__img {
        margin-bottom: 0;
    }

    .work-cards .item-card .card__num--fourth::before {
        top: 2.5rem;
    }

    .work-cards .item-card .card__num--fourth::after {
        top: 0;
    }

    .work-cards .item-card .card__img--lg-last {
        margin-bottom: 3rem;
    }

    .work-cards .item-card .card__img--lg {
        margin-bottom: 2.7rem;
    }

    .work-cards .card__title {
        max-width: 22rem;
        margin: 0;
        font-weight: 500;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: #434343;
        letter-spacing: -0.720423px;
    }

    .work-cards .card__title--lg {
        transform: translateY(1rem);
    }

    .work-cards .card__text {
        max-width: 32rem;
        font-weight: 400;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 3.1rem;
        color: #434343;
    }

    .section__title {
        margin-bottom: 8.6rem;
        font-weight: bold;
        font-style: normal;
        font-size: 4.8rem;
        line-height: 6.2rem;
        color: #4A4545;
    }

    .reasons-row {
        justify-content: space-between;
    }

    .reasons-row:not(:last-child) {
        margin-bottom: 5.1rem;
    }

    .reasons .reasons__card {
        width: calc(25% - 5px);
        max-width: 30.4rem;
    }

    .reasons .reasons__card:not(:last-child) {
        margin-bottom: 0;
    }

    .reasons .card__title {
        max-width: 23rem;
        font-weight: 700;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 3.1rem;
        color: #000;
    }

    .reasons .card__title::after {
        width: 4.8rem;
    }

    .about-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-row:not(:last-child) {
        margin-bottom: 2.4rem;
    }

    .about .about__card {
        max-width: 35rem;
        min-height: 35rem;
        padding: 4rem 5rem 3.8rem 5rem;
        width: calc(25% - 5px);
    }

    .about .about__card:not(:last-child) {
        margin-bottom: 0;
    }

    .accordion .accordion__item-title {
        max-width: 100%;
        font-weight: 500;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 4.6rem;
        color: #000;
    }

    .accordion .accordion__item-title::after {
        right: 0;
        width: 2.8rem;
        height: .4rem;
    }

    .accordion .accordion__item-title::before {
        right: 1.4rem;
        width: 2.8rem;
        height: .4rem;
    }

    .accordion .accordion__item-text {
        font-weight: normal;
        font-style: normal;
        font-size: 1.8rem;
        line-height: 2.3rem;
        color: #000;
    }

    .reviews-slider {
        margin-bottom: 11.2rem;
    }

    .reviews__btn {
        width: auto;
        padding: 2.4rem 5.2rem;
        font-weight: bold;
        font-style: normal;
        font-size: 2.4rem;
        line-height: 3.1rem;
        color: #fff;
    }

    .footer-cols {
        justify-content: space-between;
    }

    .footer-cols .col__left {
        width: calc(58.33333% - 5px);
    }

    .footer-cols .contacts-list {
        justify-content: space-between;
    }

    .footer-cols .contacts__item {
        width: auto;
        padding: 1.4rem 3.2rem 1.4rem 4.9rem;
    }

    .footer-cols .contacts__item--first::after,
    .footer-cols .contacts__item--second::after,
    .footer-cols .contacts__item--third::after {
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .footer-cols .contacts__item--first::before {
        left: 2rem;
        top: 48%;
        transform: translateY(-50%);
    }

    .footer-cols .contacts__item--second::before {
        left: 1.7rem;
        top: 48%;
        transform: translateY(-50%);
    }

    .footer-cols .contacts__item--third::before {
        left: 1.6rem;
        top: 48%;
        transform: translateY(-50%);
    }

    .footer-cols .contacts__link {
        margin-top: 0;
    }

    .footer-cols .socials-list {
        width: calc(16.66667% - 5px);
    }

    .footer-cols .socials-list {
        margin-bottom: 0;
    }

    .footer-cols .col__right {
        width: calc(25% - 5px);
        flex-direction: row;
    }

    .footer-cols .col__right .logo--footer {
        margin: 0 3.3rem 0 0;
    }

    .col__right-slogan {
        text-align: center;
        width: 14.1rem;
    }
}
