@import url(https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap);@charset "UTF-8";

@font-face {
    font-family: "Souvenir";
    src: url("../fonts/souvenir.ttf") format("truetype"),
        url("../fonts/souvenir.woff2") format("woff2");
}

@font-face {
    font-family: "Material Design Icons";
    src: url("../fonts/material/materialdesignicons-webfont.eot?v=5.1.45");
    src: url("../fonts/material/materialdesignicons-webfont.eot?#iefix&v=5.1.45") format("embedded-opentype"),
        url("../fonts/material/materialdesignicons-webfont.woff2?v=5.1.45") format("woff2"),
        url("../fonts/material/materialdesignicons-webfont.woff?v=5.1.45") format("woff"),
        url("../fonts/material/materialdesignicons-webfont.ttf?v=5.1.45") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('../fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
