.mdi:before,
.mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mdi-minus::before {
    content: "\F0374";
}

.mdi-plus::before {
    content: "\F0415";
}

.mdi-close::before {
    content: "\F0156";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-exclamation-circle:before {
    content: "\f06a";
}

.fa-clock-o:before {
    content: "\f017";
}

.fa-check:before {
    content: "\f00c";
}
